# Sbt

logs
target
/.classpath
/.project
/.settings
/RUNNING_PID

# Metals

metals.sbt

# Idea

/.idea
/.idea_modules

# VSCode

.bloop
.g8
.metals
.vscode

# Secrets

/dev_setup/docker-entrypoint-initdb.d/00_initial_structure_and_data.sql
